@model StudentExchange.Wiut.Web.ViewModels.CreateSubmissionVM

<link href="~/css/toastr.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/toastr.min.js"></script>

@if (ViewBag.Saved != null)
{
    <script>
        toastr.success("Successfully saved! You will receive email about submission!");
    </script>
}
<style>
    .form-section {
        display: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .form-section h3 {
        margin-top: 0;
        font-weight: bold;
        color: #0b459f;
    }

    .form-section.active {
        display: block;
    }

    .form-section .form-group {
        margin-bottom: 20px;
    }

    .form-section .form-control {
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
    }

    .form-section .btn {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        background-color: #0b459f;
        color: #fff;
        cursor: pointer;
    }

    .form-section .btn:hover {
        background-color: #23527c;
    }

    #personal-details {
        border-color: #0b459f;
    }

    #contact-details {
        border-color: #0b459f;
    }

    #educational-details {
        border-color: #d9534f;
    }
    .housing-location {
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    .housing-location img {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .housing-location .location-details {
        font-size: 14px;
        margin-top: 10px;
    }

    .housing-location .location-details b {
        font-weight: bold;
        color: #0b459f;
    }
    .card {
        background-color: #0b459f; /* darker blue background color, related to the button color */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        color: #fff; /* white text color to contrast with the darker blue background */
      }

    .btn-primary {
        background-color: #1f5f8a; /* even darker blue button color */
        border-color: #1f5f8a;
        color: #fff; /* white text color */
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }

    .center-btn {
        text-align: center;
        margin-top: 20px;
      }
</style>

<form asp-action="SaveSubmission" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="StudentId" class="form-control" />
    <input type="hidden" asp-for="EmailAddress" class="form-control" />
    <div id="personal-details" class="form-section active">
        <h3>Your Uploaded Evidence</h3>
        <hr />
        <p>You have not uploaded any evidence</p>
        <br />

        <h3>Declaration Statements</h3>
        <br />
        <p>I confirm that I am submitting this application on the basis that I have read the following declarations and I confirm as follows:</p>
        <ul>
            <li>I confirm that all the details I have provided are true, accurate and complete.</li>
            <li>I understand that I am making this application which is subject to the relevant terms and conditions for visiting incoming exchange students.</li>
            <li>I confirm that I am making an application to the incoming exchange programme on the understanding that the modules in the Incoming Exchange Module Catalogues are issued on the express condition that all matters in them are subject to change from time to time. In particular, the University of Westminster will use all reasonable endeavours to deliver courses, programmes of study and other educational services, circumstances may change. The University of Westminster reserves the right to vary the content and delivery of courses, in line with the Incoming Student Terms and Conditions document.</li>
            <li>I confirm that I have actively researched the University housing options for exchange students and the location of the housing in relation to my intended campus(es) of study. I understand that I am not able to change my housing once I arrive and should only accept an offer of housing once I have a full understanding.</li>
            <li>I confirm that I intend and am able to attend all lessons / classes as part of my exchange programme at the University of Westminster.</li>
        </ul>
        <br />

        <h3>Your privacy</h3>
        <br />
        <p>Before applying, please note the following information about how we will use the information you provide:</p>
        <ul>
            <li>We'll use the information you provide (and other personal data about you) to process your application and, if you are accepted, in connection with the exchange programme and for certain purposes connected with the running of the University of Westminster, both while you are studying with us and after you have left. These purposes include managing relationships with you, complying with legal requirements to which we are subject, and fulfilling our obligations to you in relation to the exchange programme. The University of Westminster will process your personal data in accordance with the General Data Protection Regulation and Data Protection Act 2018 and other related legislation as amended or superseded.</li>
            <li>Information about you will be shared by the University of Westminster with your home university. The information that is shared will include information relating to your application, enrolment and any issues arising from your participation in the exchange programme. If you and/or your home university are outside of the European Economic Area, we will have to transfer information about you to the relevant country, where different data protection laws apply.</li>
            <li>If you are accepted and come to study at the University of Westminster, medical information about you may be disclosed to relevant staff including those from the Halls of Residence, the Counselling Service, the Advice Service and the Student Health Service.</li>
            <li>Personal data about you may also be transferred to third parties who provide services to the University of Westminster on the basis that it is provided in confidence and limited to those individuals who need access to the information.</li>
            <li>For more about how we use your information, see our Student Data Privacy Statement and our webpage on How we use your data.</li>
        </ul>
        <br />
        <p><input type="checkbox" asp-for="AgreeToStatements" id="agree"> <b>I have read, understood and agree to the above statements</b></p>
        
        <div class="card">
          <div class="card-body">
            <h5>Submitting this application</h5>
            <ul>
              <li>You will not be able to change your application once you have submitted it</li>
                    <li>An auto-acknowledgement email confirming the submission of your application will be sent to <i>@Model.EmailAddress</i></li>
              <li>You will be able to see and print your completed application after submission</li>
              <li>If you wish to review all pages of your application in one screen prior to submission, please click the Preview button in the Application Checklist menu</li>
              <li>You must complete all mandatory fields across the application form before you can submit</li>
            </ul>
            <div class="center-btn">
              <button class="btn" style="background-color: #007bff;">Submit</button>
            </div>
          </div>
        </div>
    </div>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
