@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<style>
    .card {
        margin: 50px auto;
        max-width: 600px;
        border-color: #0b459f;
    }

    .card-header {
        background-color: #0b459f;
        color: white;
    }

    .btn-login, .btn-register {
        color: white;
        width: 100%;
        margin: 5px 0;
    }

    .btn-login {
        background-color: #0b459f;
    }

    .btn-login:hover {
        background-color: #007bff;
        color: #fff;
    }

    .btn-register {
        background-color: #007bff;
    }

    .btn-register:hover {
        background-color: #0056b3;
        color: #fff;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Log in
                </div>
                <div class="card-body">
                    <p>Please enter the email address you used to set up your Online Application account</p>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label">Email address</label>
                            <input asp-for="Input.Email" type="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label">Password*</label>
                            <input asp-for="Input.Password" type="password" class="form-control" id="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button id="login-submit" type="submit" class="btn btn-login">Log in</button>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-grid gap-2 mt-3">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-register">Don't have an account? Register</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
