@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<style>
    .card-custom {
        border: 1px solid #ddd;
        border-radius: 5px;
        max-width: 800px;
        margin: 50px auto;
    }

    .card-header-custom {
        background-color: #20c997;
        color: white;
        padding: 15px 20px;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .card-body-custom {
        padding: 20px;
        font-size: 1rem;
    }

    .btn-custom {
        background-color: #20c997;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }

        .btn-custom:focus {
            outline: none;
            box-shadow: none;
        }

        .btn-custom:hover {
            background-color: #17a487;
        }

    .card-footer-custom {
        padding: 10px 20px;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    .header-title {
        text-align: center;
        margin: 20px 0;
        font-size: 1.5rem;
        color: #d9534f;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

        .header-logo img {
            max-width: 150px;
            height: auto;
        }
</style>

<div class="container">
    <div class="header-title">
        Student Exchange Application
    </div>
    <div class="card card-custom">
        <div class="card-header card-header-custom">
            Verify Email
        </div>
        <div class="card-body card-body-custom">
            You must verify your email address before you can complete an application. We have sent the verification email to <strong>@Model.Email</strong>, please check your spam folder. To resend the verification email click the button below.
        </div>
        <div class="card-footer card-footer-custom">
            <a class="btn btn-custom" href="./ResendEmailConfirmation">Resend Verification Email</a>
        </div>
    </div>
</div>
