@page
@model RegisterModel

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<style>
    .card {
        margin: 50px auto;
        max-width: 800px;
        border-color: #0b459f;
    }

    .card-header {
        background-color: #0b459f;
        color: white;
    }

    .btn-create-user {
        background-color: #0b459f;
        color: white;
    }

        .btn-create-user:hover {
            background-color: #007bff;
        }

    .container-alert {
        background-color: #76c7c0;
        padding: 15px;
        border-radius: 8px;
        color: #03393d;
        max-width: 800px;
        text-align: left;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 0 auto 20px;
    }

        .container-alert ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .container-alert p {
            margin-bottom: 3px;
        }
</style>

<div class="container">
    <div class="container-alert">
        <p>When starting an application you will be required to submit the following documentation:</p>
        <ul>
            <li>Personal Statement</li>
            <li>CV</li>
            <li>Passport</li>
            <li>Qualification Transcript/Certificates</li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header text-center">
            Create New User
        </div>
        <div class="card-body">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Input.Title" class="form-label">Title*</label>
                    <select asp-for="Input.Title" class="form-select" required>
                        <option selected>--- Please select an option ---</option>
                        <option value="mr">Mr.</option>
                        <option value="mrs">Mrs.</option>
                        <option value="miss">Miss</option>
                        <option value="ms">Ms.</option>
                    </select>
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ForeName" class="form-label">Forename*</label>
                    <input asp-for="Input.ForeName" type="text" class="form-control" required>
                    <span asp-validation-for="Input.ForeName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ForeName2" class="form-label">Forename 2</label>
                    <input asp-for="Input.ForeName2" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ForeName3" class="form-label">Forename 3</label>
                    <input asp-for="Input.ForeName3" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Input.FamilyName" class="form-label">Family Name*</label>
                    <input asp-for="Input.FamilyName" type="text" class="form-control" required>
                    <span asp-validation-for="Input.FamilyName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.DateOfBirth" class="form-label">Date of birth*</label>
                    <input asp-for="Input.DateOfBirth" type="date" class="form-control" required>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email address (this will be your username)*</label>
                    <input asp-for="Input.Email" type="email" class="form-control" required>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmEmail" class="form-label">Confirm email address*</label>
                    <input asp-for="Input.ConfirmEmail" type="email" class="form-control" required>
                    <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Password*</label>
                    <input asp-for="Input.Password" type="password" class="form-control" required>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm password*</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" required>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-md-end">
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                    <button id="registerSubmit" type="submit" class="btn btn-create-user">Create user</button>
                </div>
            </form>
            <p class="mt-3">*Denotes a mandatory field</p>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
