<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentExchange.Wiut.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/template.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentExchange.Wiut.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 py-0">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <img src="~/images/westlogo.png" width="150" height="auto" alt="Alternate Text" />
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">
                            <img src="~/images/icons8-logout-96.png" alt="Logout" height="35" width="35" />
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <section id="sp-bottom">
      <div class="container">
        <div class="container-inner">
          <div class="row">
            <div id="sp-bottom1" class="col-sm-col-sm-6 col-lg-2">
              <div class="sp-column">
                <div class="sp-module">
                  <div class="sp-module-content">
                    <div id="mod-custom130" class="mod-custom custom">
                      <p>
                        <img
                          src="https://www.wiut.uz/images/logo/wiut_logo_250.png"
                          width="150"
                          height="121"
                        />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sp-bottom2" class="col-sm-col-sm-6 col-lg-2">
              <div class="sp-column">
                <div class="sp-module">
                  <h3 class="sp-module-title">Main</h3>
                  <div class="sp-module-content">
                    <div id="mod-custom93" class="mod-custom custom">
                      <p>
                        <a href="/new-alumni">Alumni</a>&nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;<a
                          href="#"
                          >Virtual Tour</a
                        ><br /><a href="https://intranet.wiut.uz/">Intranet</a
                        >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a
                          href="/faq-home"
                          >FAQ</a
                        ><br /><a href="https://outlook.com/wiut.uz">Web Mail</a
                        >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a
                          href="/quick-link-students"
                          >Students</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sp-bottom3" class="col-lg-4">
              <div class="sp-column">
                <div class="sp-module">
                  <h3 class="sp-module-title">Courses</h3>
                  <div class="sp-module-content">
                    <div id="mod-custom131" class="mod-custom custom">
                      <p>
                        <a href="/pre-foundation">Pre-Foundation</a>&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <a href="/postgraduate">Postgraduate</a><br /><a
                          href="/certificate-international-foundation-studies"
                          >Foundation Studies</a
                        >&nbsp; &nbsp; &nbsp; &nbsp;<a
                          href="https://science.wiut.uz/en/phd-and-dsc-programmes-2"
                          >Graduate (PhD and DSc)</a
                        ><br /><a href="/undergraduate">Undergraduate</a>&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a
                          href="https://cple.wiut.uz/"
                          >Executive Courses&nbsp;</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sp-bottom4" class="col-lg-4">
              <div class="sp-column">
                <div class="sp-module">
                  <h3 class="sp-module-title">Quick Links</h3>
                  <div class="sp-module-content">
                    <div id="mod-custom132" class="mod-custom custom">
                      <p>
                        <a href="/about-us">About Us</a>&nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;<a href="/parents">Parents</a>&nbsp; &nbsp;
                        &nbsp; &nbsp;&nbsp;<a
                          href="https://science.wiut.uz/en/phd-and-dsc-programmes-2"
                          >Scientific Council</a
                        ><br /><a href="/careers">Careers</a>&nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="/news">News</a
                        >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a
                          href="https://silkroadjournal.online/"
                        >
                          Silk Road</a
                        ><br /><a href="/research">Research</a>&nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a
                          href="https://vrr.wiut.uz/uz"
                          >Virtual Reception</a
                        >
                      </p>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                </div>
                <div class="sp-module">
                  <div class="sp-module-content">
                    <div
                      class="mod-sppagebuilder sp-page-builder"
                      data-module_id="150"
                    >
                      <div class="page-content">
                        <section
                          id="section-id-1700827666141"
                          class="sppb-section"
                        >
                          <div class="sppb-row-container">
                            <div class="sppb-row">
                              <div
                                class="sppb-row-column"
                                id="column-wrap-id-1700827666140"
                              >
                                <div
                                  id="column-id-1700827666140"
                                  class="sppb-column"
                                >
                                  <div class="sppb-column-addons">
                                    <div
                                      id="sppb-addon-wrapper-1700827697485"
                                      class="sppb-addon-wrapper addon-root-icon"
                                    >
                                      <div
                                        id="sppb-addon-1700827697485"
                                        class="clearfix"
                                      >
                                        <div
                                          class="sppb-icon sppb-icon-hover-effect-zoom-in"
                                        >
                                          <a
                                            target="_blank"
                                            href="https://www.facebook.com/wiut.uz/"
                                            ><span class="sppb-icon-inner"
                                              ><i
                                                class="fab fa-facebook"
                                                aria-hidden="true"
                                              ></i></span
                                          ></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>